* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.438),rgba(0, 0, 0, 0.205)),url(background5.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar{
    background: rgb(0,100,0);
    text-align: center;
}
.menu-bar ul{
    display:inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width:120px;
    margin:6px;
    padding:15px;
}
.menu-bar ul li a{
    text-decoration:none;
    color: white;
}
.apple, .menu-bar ul li:hover{
    background:green;
    border-radius:3px;

}
.menu-bar .fa{
    margin-right:8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display:  block;
    position: absolute;
    background: green;
    margin-top: 15px;
    margin-left: -15px;

}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: lightgreen;
}
.fa-angle-right{
    float:right;
}
.sub-menu-2{
    display: none;

}
.hover-me:hover .sub-menu-2{
    position:absolute;
    display:block;
    margin-top:-40px;
    margin-left:140px;
    background-color:green;

}
